<h3>Configurações do Webhook</h3>

<%= form_tag(plugin_settings_path(@plugin), method: :post) do %>
  <div class="box">
    <p>
      <label for="settings_api_url">URL da API</label><br>
      <%= text_field_tag 'settings[api_url]', @settings['api_url'], size: 80 %>
    </p>
    <p>
        <label for="settings_webhook_custom_headers">Headers Personalizados (JSON)</label>
        <%= text_area_tag 'settings[webhook_custom_headers]', @settings['webhook_custom_headers'], rows: 5, style: 'width: 100%; font-family: monospace;' %>
        <br>
        <em class="info">Insira os headers no formato JSON, ex: <code>{"Authorization": "Bearer token", "X-Custom-ID": "123"}</code></em>
    </p>
  </div>
  <%= submit_tag l(:button_save) %>
<% end %>
<style>
  input[name="commit"][value="Aplicar"],
  input[name="commit"][value="Apply"] {
    display: none !important;
  }
</style>